.hero {
  background-image: url('../../assets/blue-hero-img.png');
  width: 60%;
}

.login-page {
  display: flex;
  width: 100vw;
}

.hero-text {
  color: white;
  width: 90%;
  margin: 23% auto;
}

.sign-in {
  width: 40%;
}

.sign-in-card {
  background-color: white;
  width: 90%;
  margin: 3% auto;
  padding: 3%;
  box-shadow: 2px 4px 5px rgba(128, 128, 128, 0.7);
}

.demo-roles {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 150px 150px;
  grid-gap: 15px 15px;
  margin: auto;
}

.demo {
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 3px 2px 2px grey;
}

.demo-card {
  display: flex;
  justify-content: center;
}

.demo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2%;
  opacity: 0.7;
}
.demo:hover {
  opacity: 1;
}

.demo p {
  text-align: center;
  margin: 0;
}
.sign-in h2 {
  font-size: 2rem;
  margin: 2% auto;
  text-align: center;
}
