.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.836);
  border: 1px solid rgb(255, 255, 255);
  height: 99vh;
  width: 99vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spin {
  margin: auto;
}
